body{
    background-color: rgb(189, 189, 189);
}

.canvas{
    background-color: #FFF;
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px
}

#canvasDraft{
    background-color: transparent;
    /* z-index: -1; */
}

body{
    overflow:hidden;
}
#canvas-container{
    height:720px;
} 

.btn-container{
    position: fixed;
    top: 1000px;
}

.color-container{
    position: absolute;
    top: 1000px;
    left: 300px;
}

.color-container p{
    font-size: 30px;
    padding: 30px;
}